// https://huemint.com/brand-intersection/#palette=2d2059-fbe44d-b7d7e7-569a9c

// draws: https://sketchvalley.com/

$dark: #2f2c30;
$dark-s1: #444145;
$dark-light: #979698;


$primary: #2fc25b;
$primary-s1: #2aaf52;
$primary-light: #97e1ad;